/* 商城 logo */
#shop-b {
    color: red;
}

#logo-img,
#header-left-b,
#header-right-b,
#shop-b {
    font-style: oblique;
    margin-left: .1em;
    transition: .3s;
}

#header-left-b {
    color: green;
}

#header-right-b {
    color: yellowgreen;
}

#logo-a:hover #header-left-b {
    /*transition: .3s;*/
    transform: translateX(2.1em);
}

#logo-a:hover #shop-b {
    transform: scale(1.5);
    margin-left: .5em;
}

#logo-a:hover #header-right-b {
    /*transition: .3s;*/
    transform: translateX(-2.1em);
}

#logo-a:hover #logo-img {
    transform: scale(1.5);
    margin-right: 1em;
    animation: shake 0.5s ease infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}


/*========================================================================*/
/* 为所有的链接添加通用样式 */
.top-item a {
    font-family: 'Microsoft JhengHei', sans-serif; /* 设置字体为微软正黑体 */
    font-weight: bold; /* 字体加粗 */
    font-size: 20px; /* 设置字体大小 */
}

/* 特别为管理按钮添加样式 */
#top-dropdown-btn {
    font-weight: bold; /* 字体加粗 */
    font-size: 20px; /* 设置字体大小 */
}

/*========================================================================*/

/* 商城文字 logo */