	.bottom {
	 position: fixed;
	 bottom: 0;
	 font-size: 2em;
	 /* border: 1px solid; */
	 border-radius: 25px;
	 /* padding-left: 50%; */
	 background: #cdd4dcdb;
		opacity: .3;
	 display: inline;
	 left: 50%;
	 width: 16em;
	 /* margin: 0 auto; */
	 transform: translate(-50%, 0%);
		/*z-index: -10;*/
 }