/* 首頁的背景*/
.mycontent {
	background-image: url(../images/index/bg111.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
}
/*首頁透明層*/
.inputDiv {
	height: 371px;
	width: 270px;
	background-color: rgba(255, 255, 255, 0.7);
	float: right;
	margin: 100px 60px 0 0;
	text-align: center;
	color: cadetblue;
	line-height: 40px;
}
/*首頁的幾個按鈕*/
.inputDiv a {
	margin: 8px;
	font-size: 16px;
}
/*按鈕寬度	*/
.inputDiv .btn {
	width: 90%;
}

html,body{
	max-width: 100%;
	text-align: center;
}
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.logo-img{
	width: 30px;
}
#header-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#header-div>span,
#header-div>b{
	font-size: 2em;
}

#header-div b{
	margin-left: 1em;
}

.loginDiv{
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -30%);
}


small{
	font-weight: 900;
}

#loginCtrl{
	display: flex;
	flex-direction: column;
	align-items: center;
}



* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none !important;
}

body {
	display: flex;
	flex-direction: column;
}



#logo-div a {
	display: flex;

}

#logo-div b {
	font-size: 2em;
}

#logo-img {
	width: 30px;
}

#hot_list {
	width: 100%;
	text-align: center;
}

#hot-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*border: 1px dotted #000000;*/
	background: #f5f5f5;
}

.list-sub {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 1em;
	width: 250px;
	/*border: 1px dotted #000000;*/
}

.list-sub img {
	width: 260px;
	height: 180px;
}

.fron-div {
	display: flex;
	flex-wrap: wrap;
	width: 20em;
	/*text-align: center;*/
}

.fron-div a {
	width: 100%;
}

.col-md-10{
	margin: 0 auto;
}

#search-form{
	margin-right: 11.5%;
}

.nav-li-a{
	margin-right: 1em;
}

.active{
	color: yellow;
}

.nav-li{
	background: #2aabd2;
}