/*商品圖片*/
.img-big {
	width: 100%;
	display: none;
	border: 2px solid #aaaaaa;
	border-radius: 3px;
	margin: 0;
	padding: 0;
}
/*價格字體*/
.price-bar small {
	font-size: 14px;
}
/*價格框框*/
.price-bar {
	background: #f0f9ff;
	color: #092f97;
	padding: 8px;
	border: 3px solid #699fd7;
	border-radius: 3px;
	font-size: 30px;
	margin: 5px;
}
/*購買表單間隔*/
.product-form {
	margin: 10px 0;
}
/*表單間隔*/
.form-space {
	margin: 10px 0;
}
.saled-icon {
	color: #092F97;
	font-size: 25px;
}

/*數量按鈕大小*/
.num-btn {
	width: 30px;
}
.num-text {
	text-align: center;
}