/*輪播圖大小*/
#myCarousel {
	width: 100%;
}
/*accordion是左侧导航条*/
#accordion {
	min-height: 300px;
}
/*左右两侧的阴影效果*/
.carousel-control.left {
	background-image: none;
	background-color: #666666;
	width: 40px;
	height: 60px;
	margin: 160px 0 0 20px;
	border-radius: 5px;
}
.carousel-control.right {
	background-image: none;
	background-color: #666666;
	width: 40px;
	height: 60px;
	margin: 160px 20px 0 0;
	border-radius: 5px;
}

.panel-item>div {
	padding: 2px 0;
	border-bottom: 1px solid #f5f5f5;
}