.body{
    font-size: 1em !important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.content-panel {
    display: none;
}

.content-panel.activePage {
    display: block;
}

#nav-container {
    margin-top: 5em;
    border: 3px solid;
}

#nav-ul {
    border-bottom: 3px solid;
    background-color: #F2F2F2;
}

.nav-li-a {
    background: #ccc;
}

.pagebox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.pagebox-container p {
    color: black !important;
}

.memberList-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    border: 1px solid;
}

.memlist {
    border-right: 1px solid;
}


.member-list-th {
    text-align: center;
}

th, tr, td {
    border-right: 1px solid #ccc;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px;
    line-height: 2.5em;
    /* vertical-align: top; */
    border-top: 1px solid #ddd;
}

.table {
    margin-bottom: 0px;
}

.btn-success{
    margin-right:.5em;
}